/*! common.css © yamoo9.net, 2016 */

/* 목록 초기화 재사용 가능한 스타일 모듈 */
.reset_list ul,
.reset_list ol,
ul.reset_list,
ol.reset_list {
  margin-top:    0;
  margin-bottom: 0;
  padding-left:  0;
  list-style:    none;
}

a {
  text-decoration: none;
}

h1 {
  margin: 0;
}

p {
  margin: 0;
}